.Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home-left {
  text-align: center;
}

.Home-left img {
  width: 400px;
  max-width: 100%;
}

.Home-left h2 {
  font-size: 2rem;
}

.Home-right {
  width: 50%;
  padding: 64px;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

.Home-right a {
  color: black;
  font-size: 14px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .Home {
    flex-direction: column;
    padding: 0 28px;
  }

  .Home-right {
    padding: 0;
    width: 100%;
  }
}
